<div class="complete">
  <% if @task.completed? %>
    <%= link_to [task.list,task], class: 'btn btn-primary', method: :delete do %>
      <i class="glyphicon glyphicon-ok-sign"> </i>&nbsp; Completed
    <% end %>
  <% else %>
    <%= link_to [task.list,task], class: 'btn btn-danger', method: :task do %>
      <i class="glyphicon glyphicon-plus-sign"> </i>&nbsp; InComplete
    <% end %>
  <% end %>
</div>
