<div class="complete">
  <% if complete = current_user.completed(task) %>
    <%= link_to [task.list,task, Complete], class: 'btn btn-danger', method: :delete do %>
      <i class="glyphicon glyphicon-ok-sign"> </i>&nbsp; Completed
    <% end %>
  <% else %>
    <%= link_to [task.list,task, Complete.new], class: 'btn btn-primary', method: :task do %>
      <i class="glyphicon glyphicon-plus-sign"> </i>&nbsp; Not Completed
    <% end %>
  <% end %>
</div>
