<h1What is BloccitOut About?</h1>
  <p>BloccitOut is a self destructing To-DO list. A MUST-DO, TO-DO list, if you will.</p>
  <p>If you put an item on this to-do list then you have 7 days to complete the task or it;s gone!</p>
  <br>
</br>
<p>Created by those genuises at ArtStar Developments!</p>
