<br/>
    <div class="container">
      <div class="jumbotron">
        <h1>Your Supreme To-Do List</h1>
        <p>Get started on your list today, you only have 7 days to get'er done!</p>
        <p>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>A list you MUST get done</h2>
          <p>With a Supreme List you only have 7 days to get it done, so stop procratination.</p>
        </div>

        <div class="col-md-4">
          <h2>This list reminds you!</h2>
          <p>The list will email you wehn task are about to delete!</p>
        </div>

        <div class="col-md-4">
          <h2>Stay organized with multiple list</h2>
          <p>Keep a personal or professional list to keep task seperate.</p>
        </div>
      </div>
    </div>
  </body>
</html>
